<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harray Potter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://air-marketing-assets.imgix.net/blog/logo-db/harry-potter-logo/harry-potter-logo-png-1.png?auto=format&fit=max&ixlib=react-9.0.2&h=270&w=576"
                width="150" height="30" class="d-inline-block align-top" alt="">

        </a>
    </nav>
    <div class="container">
        <a href="/mychar" class="btn btn-primary mt-4">My Fav</a>
        <div class="row">
            <% data.forEach(item=>{ %>
                <div class="col-lg-4 col-sm-12 col-md-6 mt-4 mb-4 ">
                    <form method="post" action="/update/<%=item.id%>?_method=PUT">
                        <div class="form-group">
                            <label for="exampleInputEmail1">name</label>
                            <input type="text" class="form-control" name="name" value="<%=item.name%>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">species</label>
                            <input type="text" class="form-control" name="species" value="<%=item.species%>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">house</label>
                            <input type="text" class="form-control" name="house" value="<%=item.house%>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">patronus</label>
                            <input type="text" class="form-control" name="patronus" value="<%=item.patronus%>">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
        </div>
        <%})%>
    </div>













    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>